import os as _os

with open('test', 'w') as _f:
    _f.write("def stuff():\n    pass\n")

with open('result', 'w') as _f:
    _f.write("def stuff():\n    pass\nsome stuff\n")

start_command = r"""open test
stream.echo "\nsome stuff" | section end
save
assert_file_equal test result
quit"""
